:root {
    /* Background Colors */
    --bg-primary: #151C2B;
    --bg-secondary: #0B1425;
    --bg-tertiary: #111C31;
    --bg-white: #F9F9FB;

    /* Text Colors */
    --text-primary: #F5F7FB;
    --text-secondary: #A6AFC0;

    /* Border */
    --border-color: #24324A;

    /* Accent Colors */
    --blue: #315CFF;
    --purple: #7C3AED;
    --orange: #FF6B00;
    --teal: #55B8AA;
    --red: #FF7676;
    --yellow: #F1E69D;

    /* Typography */
    --font-size-xs: 10px;
    --font-size-sm: 12px;
    --font-size-base: 14px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 24px;
    --font-size-2xl: 36px;
    --font-size-3xl: 42px;

    /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
}